<nav class="navbar navbar-expand-lg navbar-light py-0 fixed-top bg-m-view" id="navbar">
    <div class="container-fluid px-lg-5 mx-auto">
    <a class="navbar-brand" href="#"><img  src="/assets/images/urn_aaid_sc_US_32fd9b77-5ce0-49f6-93b9-c8ea63be5e08.png" id="logo" class="w-60"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto px-lg-0 px-3">
        <li class="nav-item px-lg-3 px-0">
          <a class="nav-link text-dark font-weight-bold text-purple" href="#">Product </a>
        </li>
        <li class="nav-item px-lg-3 px-0">
          <a class="nav-link text-dark font-weight-bold text-purple" href="#">Solutions</a>
        </li>
        <li class="nav-item px-lg-3 px-0">
          <a class="nav-link text-dark font-weight-bold text-purple" href="#">Pricing</a>
        </li>
        <li class="nav-item align-items-center d-flex py-lg-0 py-3">
            <a class="btn btn-outline-purple rounded-pill px-lg-4 mx-lg-3 font13 font-dark py-2 px-4" href="#">Login</a>
        </li>
        <li class="nav-item align-items-center d-flex pb-lg-0 pb-3">
        <a class="btn btn-purple rounded-pill px-lg-3 mx-lg-3 font13 py-2 px-4" href="#">Get Started</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>